<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.5.5" targetFramework="net40" />
  <package id="angular-ui-grid" version="3.1.0.1" targetFramework="net40" />
  <package id="Angular-UI-Router" version="0.2.8.0" targetFramework="net40" />
  <package id="Twitter.Bootstrap.Bootswatch.Darkly" version="3.2.0.0" targetFramework="net40" />
  <package id="Twitter.Bootstrap.Bootswatch.Flatly" version="3.2.0.0" targetFramework="net40" />
</packages>